<style>
	.ClassTemplate
	{
		background-color:white;
	}
	html
	{
		background-color:grey;
	}
	.Options
	{
		background-color:#B8B8B8;
		float:left;
		border-style:solid;
		border-color:#FF9933;
		text-align:center;
		height:30px;
		width:49%;
	}
	.Clock
	{
		background-color:#B8B8B8;
		float:left;
		border-style:solid;
		border-color:#FF9933;
		text-align:center;
		height:30px;
		width:49%;
	}
	.SelectionPane
	{
		background-color:#6C6C6C;
		float:left;
		border-style:solid;
		border-color:#FF9933;
		text-align:center;
		height:20px;
		width:11.9%;
	}
	.SelectionPane:hover
	{
		cursor:pointer;
	}
	.SelectionPane-Selected
	{
		background-color:#B8B8B8;
		float:left;
		border-style:solid;
		border-color:#FF9933;
		border-bottom-color:#B8B8B8;
		text-align:center;
		height:20px;
		width:12%;
	}
	.Pane-Selected
	{
		display:all;
		background-color:#B8B8B8;
		float:left;
		height:500px;
		width:98.5%;
		border-style:solid;
		border-color:#FF9933;
		border-top:none;
		text-align:center;
	}
	.Pane-Unselected
	{
		display:none;
		background-color:#B8B8B8;
		float:left;
		height:500px;
		width:75%;
		border-style:solid;
		border-color:#FF9933;
		border-top:none;
	}
	.HealthBar
	{
		position:absolute;
		top:527px;
		float:left;
		border-style:solid;
		border-color:#FF9933;
		border-bottom:none;
		border-left:none;
		width:20%;
		height:40px;
	}
	.EnergyBar
	{
		position:absolute;
		top:527px;
		left:287px;
		border-style:solid;
		border-color:#FF9933;
		border-bottom:none;
		border-left:none;
		width:20%;
		height:40px;
	}	

</style>